@import url("sidebar.css");
@import url("content.css");

body {
	background: #000000 url('images/bg_1317427182938.jpg') no-repeat top center fixed;
}

body > header, body > section, body > footer {
	width: 1024px;
	margin: auto;
}

body > section {
	overflow: hidden;
}

body > section > article, body > section > aside {
	position: relative;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

body > header {
	border-top: 1px solid lightgreen;
	border-bottom: 1px solid lightgreen;
	background-color: lightgreen;
}


.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body > footer {
	clear: both;
	background-color: lightblue;
}

body > footer p {
	margin: 0px;
}

