body > section > aside {
	width: 200px;
	float: right;
	overflow: hidden;
}

body > section > aside .background {
	background-color: #0B6121;
	opacity: 0.8;
}

/* Type Selector */

nav.type ul {
	margin: 0;
	padding: 0;
	font-size: 0px;
}

nav.type li {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #6c6;
	border-left: none;
	font-size: 16px;
	text-align: center;
}

nav.type li:first-child {
	border-left: 1px solid #6c6;
}

nav.type li.selected {
	width: 51px;
}

nav.type li a {
	display: block;
	line-height: 48px;
	background-color: #ccc;
	text-decoration: none;
}

nav.type li.selected a {
	background-color: #fff;
}

nav.type li a:hover {
	background: #ff6;
}

/* Source Selector */

nav.source ul {
	font: bold 11px verdana, arial, sans-serif;
	margin: 0;
	padding: 6px 10px 3px 10px;
	text-align: center;
	background-color: #000000
}

nav.source li {
	display: inline;
}

nav.source li a {
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #cfc; /* set unselected tab background color as desired */
	color: #666; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

nav.source li.selected a {
	background: #efe;
}

nav.source li a:hover {
	background: #fff;
}

/* Option Selector and Jump to */

nav.options ul, nav.jump ul {
	margin: 0 0 0 1em;
	font: bold 11px verdana, arial, sans-serif;
	padding: 3px 10px;
}

nav.options li, nav.jump li {
	list-style-type: circle;
}

nav.options li a, nav.jump li a {
	display: block;
	text-decoration: none;
	padding: 1px;
}

nav.options li.selected {
	list-style-type: disc;
}

nav.options li.selected a, nav.options li a:hover, nav.jump li a:hover {
	border: 1px solid #6c6;
	background-color: #ccc;
	padding: 0px;
}

nav.options li.title, nav.jump li.title {
	margin-top: 1em;
	margin-left: -1.5em;
	list-style-type: none;
}

